{% extends "advisor_dashboard.html" %}
{% load static %}


{% block mainblock %}
    <section class="py-5">
        <div class="container py-5">
            <section class="py-5">
                <div class="container py-5">
                    <div class="row mb-5">
                        <div class="col-md-8 col-xl-6 text-center mx-auto">
                            <h2 class="fw-bold">Advisor {{ advisor.professor.account.get_full_name }}</h2>
                        </div>
                    </div>
                    <hr>
                    <div class="row mb-5">
                        <div class="col-md-8 col-xl-6 mx-auto">
                            <h2 class="fw-bold">Student {{ student.account.get_full_name }}:
                                <a href="{% url 'messaging_link' student.s_id advisor.a_id %}">Message</a>
                            </h2>
                        </div>
                    </div>
                     <div class="row mx-auto text-center mb-2" style="max-width: 900px;">
                        <h4 class="text w-lg-50">
                            Information
                        </h4>
                        <p class="text-muted w-lg-50">
                            Student id: {{ info.s_id }}
                        </p>
                        <p class="text-muted w-lg-50">
                            Name: {{ info.name }}
                        </p>
                        <p class="text-muted w-lg-50">
                            Major: {{ info.major }}
                        </p>
                         <p class="text-muted w-lg-50">
                            Average grade: {{ info.grade }}
                        </p>
                         <p class="text-muted w-lg-50">
                            Advisor Professor: {{ info.advisor }}
                        </p>
                         <p class="text-muted w-lg-50">
                            Passed credits: {{ info.cred }}
                        </p>
                         <p class="text-muted w-lg-50">
                            Failed terms: {{ failed_terms }}
                        </p>
                    </div>
                    <hr>
                    <div class="row mx-auto text-center mb-2" style="max-width: 900px;">
                        <h4 class="text w-lg-50">
                            Event Alerts
                        </h4>
                        <p class="text w-lg-50">
                            Today is: {{ date }}
                        </p>
                        {% for a in alerts %}
                            <p class="text-muted w-lg-50">
                                {{ a }} ({{ a.start }} - {{ a.end }}) : {{ alerts.a }}
                            </p>
                        {% endfor %}
                    </div>
                    <div class="row mx-auto mb-2" style="max-width: 900px;">
                        <h4 class="text w-lg-50">
                            System Recommendation
                        </h4>
                        <p class="text w-lg-50">
                            On {{ t_count }}s term
                            Needs {{ cred_behind }} credit to be rightly on schedule
                        </p>
                        <div class="row ms-5 mb-2">
                            <h5 class="text w-lg-50">
                                Possible courses to take:
                            </h5>
                            {% for c in possibles %}
                                <p class="text-muted w-lg-50">
                                    {{ c }} : {{ c.cred }} credits
                                </p>
                            {% endfor %}
                        </div>
                    </div>
                    <hr>
                `<div class="row mx-auto text-center mb-2" style="max-width: 900px;">
                        <h4 class="text w-lg-50">
                            Enrollments
                        </h4>
                        <ul>
                            {% for t in enrolls %}
                                <li class="text-muted w-lg-50">
                                    Term {{ t }}:
                                    {% for c in enrolls.t %}
                                        {{ c }},
                                    {% endfor %}
                                </li>
                            {% endfor %}
                        </ul>
                    </div>


                </div>
            </section>
            <div class="row mx-auto">
                <div class="col">
                    <div data-reflow-type="shopping-cart"></div>
                </div>
            </div>
        </div>
    </section>
{% endblock %}
