{% extends "student_dashboard.html" %}
{% load static %}


{% block mainblock %}
    <section class="py-5">
        <div class="container py-5">
            <section class="py-5">
                <div class="container py-5">
                    <div class="row mb-5">
                        <div class="col-md-8 col-xl-6 mx-auto">
                            <h2 class="fw-bold">Student {{ student }}</h2>
                        </div>
                    </div>
                    <hr>
                     <div class="row mx-auto text-center mb-2" style="max-width: 900px;">
                        <h4 class="text w-lg-50">
                            Information
                        </h4>
                        <p class="text-muted w-lg-50">
                            Student id: {{ info.s_id }}
                        </p>
                        <p class="text-muted w-lg-50">
                            Name: {{ info.name }}
                        </p>
                        <p class="text-muted w-lg-50">
                            Major: {{ info.major }}
                        </p>
                         <p class="text-muted w-lg-50">
                            Average grade: {{ info.grade }}
                        </p>
                         <p class="text-muted w-lg-50">
                            Advisor Professor: {{ info.advisor }}
                        </p>
                         <p class="text-muted w-lg-50">
                            Passed credits: {{ info.cred }}
                        </p>
                         <p class="text-muted w-lg-50">
                            Failed terms: {{ failed_terms }}
                        </p>
                    </div>
                    <hr>
                    <div class="row mx-auto text-center mb-2" style="max-width: 900px;">
                        <h4 class="text w-lg-50">
                            Enrollments
                        </h4>
                        <ul>
                            {% for t in enrolls %}
                                <li class="text-muted w-lg-50">
                                    Term {{ t }}:
                                    {% for c in enrolls.t %}
                                        {{ c }},
                                    {% endfor %}
                                </li>
                            {% endfor %}
                        </ul>
                    </div>


                </div>
            </section>
            <div class="row mx-auto">
                <div class="col">
                    <div data-reflow-type="shopping-cart"></div>
                </div>
            </div>
        </div>
    </section>
{% endblock %}
